@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rajdhani&display=swap');

/* CSS HEX */
:root {
    --khaki: #C3AE92ff;
    --beaver: #A2927Cff;
    --chamoisee: #9F7F57ff;
    --bone: #DAD1C3ff;
    --lion: #AF987Cff;
    --seasalt: #f9fafcff;
    --timberwolf: #cec8bdff;
    --persian-orange: #d6905fff;
    --taupe: #3d362eff;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 0;
    flex: 1;
    background-image: url("img/minerals.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.shadowbox {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 33%;
    left: 50%;
    width: calc(100%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--bone);
    backdrop-filter: blur(5px);
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
}


/* Main */
.container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--timberwolf);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.top-content {
    padding: 20px;
}
.center-container {
    display: flex;
    background-color: var(--seasalt);
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.16);
}
.center-content {
    padding: 20px;
}

.bottom-content {
    padding: 20px;
}