/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rajdhani&display=swap');

/* CSS HEX */
:root {
    --khaki: #C3AE92ff;
    --beaver: #A2927Cff;
    --chamoisee: #9F7F57ff;
    --bone: #DAD1C3ff;
    --lion: #AF987Cff;
    --seasalt: #f9fafcff;
    --timberwolf: #cec8bdff;
    --persian-orange: #d6905fff;
    --taupe: #3d362eff;
}

/* Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 0;
    flex: 1;
    background-image: url("img/minerals.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.shadowbox {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 33%;
    left: 50%;
    width: calc(100%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--bone);
    backdrop-filter: blur(5px);
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
}

/* Main Content */
.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(118,105,88);
    background: linear-gradient(0deg, rgba(118,105,88,1) 0%, rgba(224,216,204,1) 100%);    color: black;
}

.top-content,
.center-content,
.bottom-content {
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}

.top-content {
    font-weight: bolder;
    font-size: 20px;
}

.center-content {
    background-color: var(--seasalt);
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.35); 
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.35);
    font-weight: bold;
}

/* Form Styling */
.form-container::after {
    content: "";
    display: table;
    clear: both;
}

.form-column {
    float: left;
    width: 50%;
}

label {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid var(--khaki);
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    width: 50vh;
    background-color: var(--persian-orange);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: var(--chamoisee);
}
